
.jumbotron{
    background-color: chocolate;
    text-align: center;
}
.card {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 15px;
    width: 600px;
  }
  .mh1 div{
      height: 30vh;
  }
    margin:25px;
    border-radius: 25px;
}
#food-input, #drink-input{
    height:35px;
    border-radius: 10px;
    background-color: honeydew;
}

img{
    width:200px;
    height:200px;
    border-radius: 5px;
}

#item-name {
    font-weight: bold;
}

aside {
    position: absolute;
    right: 40px;
    top: 40px;
}

h5 {
    text-decoration: underline;
}