
.jumbotron{
        
        background-image: url("../images/surfnutrition.jpg");}
        /* -moz-animation: spinHorizontal 10s infinite linear;
        -o-animation: spinHorizontal 10s infinite linear;    
        -webkit-animation: spinHorizontal 10s infinite linear;
        animation: spinHorizontal 10s infinite linear;
    } */
    
    /* @keyframes spinHorizontal {
        0% { transform: rotateY(0deg); }
        100% { transform: rotateY(360deg); }
    } */
#headline{
    color: white;
    text-align: center;
}
    
.card {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 15px;
    width: 600px;
  
  .mh1 div{
      height: 30vh;
  }
    margin:25px;
    border-radius: 25px;}

#food-input, #drink-input{
    height:35px;
    border-radius: 10px;
    background-color: honeydew;
}

img{
    width:200px;
    height:200px;
    border-radius: 5px;
}

#item-name {
    font-weight: bold;
}

aside {
    position: relative;
    right: 0px;
    top: 0px;
    float: left;
}
.panel-heading{
    padding:15px;
}
h5 {
    text-decoration: underline;
    
}
#dish-div{
    margin-top: 5px;
    margin-left: 10px;

}
#dish-history{
    margin-left: 15px;

}
#drink-div{
    margin-left: 10px;
}
#drink-history{
    margin-left: 15px
}
#search-food{
    color:white;
    background-color: darkblue;
}